<app-search-bar></app-search-bar>
<router-outlet></router-outlet>

<span class="logo" routerLink="/cities"></span>
<div *ngIf="isCityRoute()">
  <div class="container">
    <div class="row">
      <div class="col-6" style="border: 2px solid black">
        <div class="cities">
        <ul>
          <li *ngFor="let post of posts">
            <a routerLink="/cities/{{ post.id }}">{{ post.title }}</a>
          </li>
          
        </ul>

    
      </div>
    </div>
    



    <div class="col-6" style="border: 2px solid black">
        <app-post-form></app-post-form>
      
      </div>
    </div>
  </div>
</div>

<!-- post form -->

<router-outlet></router-outlet>
