<app-search-bar></app-search-bar>
<router-outlet></router-outlet>



<!-- <h1>Pure CSS slider</h1><pre>(with Autoplay at the beginning)</pre><br> -->
<div id="homepage-slider" class="st-slider">

    <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide4"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>

    <div class="images">
       <div class="images-inner">
        <div class="image-slide">
          <!-- <div class="image bg-yellow" style="background-color:yellow;">image slide 1</div> -->
          <img src="/assets/london.jpeg">
        </div>
        <div class="image-slide">
          <!-- <div class="image bg-blue" style="background-color:pink;">imager slide 2</div> -->
          <img src="/assets/seattle.jpeg">
        </div>
        <div class="image-slide">
          <!-- <div class="image bg-red" style="background-color:orange;">image slide 3</div> -->
          <img src="/assets/sf.jpeg">
        </div>
        <div class="image-slide">
          <!-- <div class="image bg-red" style="background-color:orange;">image slide 4</div> -->
          <img src="/assets/sydney.jpeg">
        </div>
      </div>
    </div>
  
    <!-- <div class="labels">
        <label for="slide1" class="label">text slide 1</label>
        <label for="slide2" class="label">text slide 2</label>
        <label for="slide3" class="label">text slide 3</label>
        <label for="slide4" class="label">text slide 4</label>
      
        <div class="fake-radio">
          <label for="slide1" class="radio-btn"></label>
          <label for="slide2" class="radio-btn"></label>
          <label for="slide3" class="radio-btn"></label>
          <label for="slide4" class="radio-btn"></label>
        </div>
    </div> -->
</div>
























<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- added city link below via router link -->
<span class="logo" routerLink="/cities"></span>

<!-- <li *ngFor="let city of cities"> -->
  <!-- <a routerLink="/city/{{city.id}}">{{city.post}}</a> -->
<!-- </li> -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="500" data-pause="hover">
    Indicators
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../src/app/assets/london.jpeg" alt="London" width="460" height="345">
      </div>

      <div class="item">
        <img src="seattle.jpeg" alt="Seattle" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="sf.jpeg" alt="SF" width="460" height="345">
      </div>

      <div class="item">
        <img src="sydney.jpeg" alt="Sydney" width="460" height="345">
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->





<!-- <img src="/assets/london.jpeg" class="responsive" alt="london">
<img src="/assets/seattle.jpeg" class="responsive" alt="london">
<img src="/assets/sf.jpeg" class="responsive" alt="london">
<img src="/assets/sydney.jpeg" class="responsive" alt="london"> -->




<style>
  .newspaper {
    column-count: 3;
    text-align: left;
    font-size: 100%;
    position: relative;
  }

  .title {
    text-align: center;
  }
  </style>

<h1 class="title">Wayfarer is...</h1>


<div class="newspaper">
  <h2>Topic</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cupiditate doloribus necessitatibus nobis nostrum omnis rem sequi? Consectetur consequatur dolorem harum laborum natus necessitatibus officia praesentium reprehenderit saepe voluptas? 
  
  <h2>Topic</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae, commodi cupiditate id impedit ipsam itaque iure laudantium maiores nemo nobis perferendis possimus quibusdam reiciendis reprehenderit sint unde ut voluptas. 
  
  <h2>Topic</h2> 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi, consequatur corporis cupiditate debitis, doloribus ex id in iste laboriosam nostrum obcaecati officia provident quidem saepe sed veritatis! Hic, quasi.
  </div>

  <router-outlet></router-outlet>