<div id="homepage-slider" class="st-slider">
  <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
  <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
  <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
  <input
    type="radio"
    class="cs_anchor radio"
    name="slider"
    id="play1"
    checked=""
  />

  <div class="images">
    <div class="images-inner">
      <div class="image-slide">
        <img src="/assets/london.jpeg" />
      </div>
      <div class="image-slide">
        <img src="/assets/gib.jpeg" />
      </div>
      <div class="image-slide">
        <img src="/assets/sf.jpeg" />
      </div>
    </div>
  </div>

  <h1 class="title">Wayfarer is...</h1>

  <div class="newspaper">
    <h2>Topic</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto
    cupiditate doloribus necessitatibus nobis nostrum omnis rem sequi?
    Consectetur consequatur dolorem harum laborum natus necessitatibus officia
    praesentium reprehenderit saepe voluptas?

    <h2>Topic</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae,
    commodi cupiditate id impedit ipsam itaque iure laudantium maiores nemo
    nobis perferendis possimus quibusdam reiciendis reprehenderit sint unde ut
    voluptas.

    <h2>Topic</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi,
    consequatur corporis cupiditate debitis, doloribus ex id in iste laboriosam
    nostrum obcaecati officia provident quidem saepe sed veritatis! Hic, quasi.
  </div>
</div>
