<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">Wayfarer</span>
        <span class="logo" routerLink="/cities">Cities</span>
        
        <input
            class="search-input"
            name="search"
            nomad
            placeholder="Search" />
            <button class="search-button">Search</button>
    </form>
    <a href="https://weather.com/" class="button">Weather App</a>
   
</div>


<router-outlet></router-outlet>



<!-- //line 14 -->